   <header class="yo-header m-header">
        <h2 class="title">{{mc}}</h2>
        <a class=" regret yo-ico js-back" ><span class="icon icon-arrow-left-blue"></span></a>
    </header>
	<div class="m-clinic-details">
	 <div class="m-clinic-name">
	     <p>机构名称</p>
	     <span>{{mc}}</span>
	 </div>
	 <div class="m-clinic-address">
		   <p>机构地址</p>
		   <span>{{dz}}</span>
	 </div>
	 <div class="m-clinic-des">
	     <p>机构介绍</p>
		  <p>
		   <span>{{ms}}</span>
		  </p>
     </div>
	</div>
  <div class="m-bottom-fixBtn js-lianxijigou"><a href="tel:{{dh}}">联系机构</a></div>	
	
