<header class="yo-header m-header">
            <h2 class="title">编辑预约</h2>
            <a class="regret yo-ico js-back" href="#"><span class="icon icon-arrow-left-blue"></span></a>
            <a class="js-submit affirm js-addorder">保存</a>
        </header>
        <div class="m-med-form flex">
            <div class="form-block">
                <input type="hidden" name="doctor-id" value=""/>
                <input type="hidden" name="patient-id" value=""/>
                <div class="form-col g-clear">
                    <div class="item-title label">患者姓名</div>
                    <a class="item-input js-getPatient" href="javascript:;">
                        <span class="icon icon-arrow-right-gray"></span>
                        <input type="text" name="name" class="patientName" value="{{patientName}}" required="required" readonly/>
                    </a>
                </div>
                <div class="form-col g-clear">
                    <div class="item-title label">患者手机号</div>
                    <div class="item-input">
                        <span class="icon icon-arrow-right-gray"></span>
                        <input type="tel" name="phone" class="patientPhone" value="{{patientMobile}}" />
                    </div>
                </div>
                <div class="form-col g-clear">
                    <div class="item-title label">患者性别</div>
                    <div class="item-input js-sex">
                        <span class="icon icon-arrow-right-gray"></span>
                        <input type="text" name="sexVal" class="sexVal"  value="{{patientGender}}" readonly/>
                    </div>
                </div>
                <div class="form-col g-clear last">
                    <div class="item-title label">患者年龄</div>
                    <div class="item-input js-patientAge">
                        <span class="icon icon-arrow-right-gray"></span>
                        <input type="text" name="ageVal" class="ageVal"  value="{{patientAge}}" readonly/>
                    </div>
                </div>

            </div>
                <div class="form-col g-clear">
                    <div class="item-title label">预约医生</div>
                    <div class="item-input">
                        <span class="icon icon-arrow-right-gray"></span>
                        <input type="text" data-val="1" name="doctor-name" class="doctorName" value="{{doctorName}}" data-id="{{doctorId}}" required="required" readonly/>
                    </div>
                </div>
                <div class="form-col g-clear">
                    <div class="item-title label">预约日期</div>
                    <div class="item-input js-yuyuetime">
                        <span class="icon icon-arrow-right-gray"></span>
                        <input type="text" name="yuyueDate" id="yuyueDate" value="{{apptDate}}" required="required" readonly/>
                    </div>
                </div>
                <div class="form-col g-clear">
                    <div class="item-title label">预约时间</div>
                    <div class="item-input">
                        <span class="icon icon-arrow-right-gray"></span>
                        <input type="text" name="showTime" id="showTime" value="{{apptTime}}">
                        <input type="time" name="yuyuetime" id="yuyueTime" value="{{apptTime}}" required="required" value="{{apptTime}}"/>
                    </div>
                </div>
                <div class="form-col g-clear">
                    <div class="item-title label">预约时长</div>
                    <div class="item-input js-timeRange">
                        <span class="icon icon-arrow-right-gray"></span>
                        <span  class="timeRangeVal" data-val="{{durationKey}}">{{duration}}</span>
                    </div>
                </div>
                <div class="form-col g-clear last">
                    <div class="item-title label">预约事项</div>
                    <a class="add-matter btn-text-right" href="javascript:;" title="XXXX">添加</a>
                    <div class="item-input hidden">
                        <select name="item" id="yuyue" required="required"></select>
                    </div>
                    <ul class="matter-list">
                    {{#each itemsMap}}
                    <li>
                      <span class="del-item fl"><i></i></span> <span class="item-val fr" data-val={{#getobjKey this}}{{/getobjKey}}>{{#getobjVal this}}{{/getobjVal}}</span>
                     </li> 
                    {{/each}}
                    </ul>
                </div>
        </div>
