<header class="yo-header m-header">
        <h2 class="title">账单提醒</h2>
        <a class=" regret yo-ico" href="#"></a>
</header>
<div class="m-notice-block">
  <p class="m-NoticeTip">{{title}}</p>
  <div class="m-notice-info">
    <p class="m-Noticetitle">账单明细</p>
    <p>账单日期:<span class="ml-small">{{itemTime}}</span></p>
    <p>应收金额:<span class="ml-small">{{ysze}}</span></p>
    <p>实收金额:<span class="ml-small">{{ssze}}</span></p>
    <p>欠费总额:<span class="ml-small">{{qfje}}</span></p>
    <img src="//static1.medlinker.net/sass-h5/webapp/images/book-bg.png" alt="" class="m-bookBg" />
  </div>  
  <p class="center m-NoticeMsg">{{remark}}</p>
  <div class="m-bottom-fixBtn"><a href="tel:{{jgdh}}">联系机构</a></div>	