<div class="thumb-bar g-clear">
    <p class="title fl">患者管理<span>({{month}}月)</span></p>
    <a class="fr" href="patientlist.html">
        <p>本月就诊：{{monthCount}}人</p>
        <span class="icon icon-arrow-right-gray" ></span>
    </a>
</div>
<div class="thumb-flex">
    <div class="thumb-flex-item">
        <p class="main-text"><span>{{jryy}}</span>人</p>
        <p>今日预约</p>
    </div>
    <div class="thumb-flex-item">
        <p class="main-text"><span>{{bzyy}}</span>人</p>
        <p>本周预约</p>
    </div>
    <div class="thumb-flex-item">
        <p class="main-text"><span>{{byyy}}</span>人</p>
        <p>本月预约</p>
    </div>
</div>
