<div class="thumb-bar g-clear">
    <p class="title fl">业务管理</p>
    <a class="fr" href="workmanger.html">
        <p style="visibility:hidden;">业务管理</p>
        <span class="icon icon-arrow-right-gray" ></span>
    </a>
</div>
<div class="thumb-block">
    <p class="main-text">{{ssje}}</p>
    <p class="text">实收金额（元）</p>
    <p>应收合计：{{ysze}}</p>
</div>
<div class="thumb-flex gray">
    <div class="thumb-flex-item">
        <p>预交款</p>
        <p>（元）</p>
        <span>{{yjj}}</span>
    </div>
    <div class="thumb-flex-item">
        <p>社保卡</p>
        <p>（元）</p>
        <span>{{sbk}}</span>
    </div>
    <div class="thumb-flex-item">
        <p>其他</p>
        <p>（元）</p>
        <span>{{qt}}</span>
    </div>
</div>
